input:focus{
    box-shadow: none!important;
}
#container{
    width: 75%;
}
button .ripple{
    background: rgba(105, 188, 255, 0.719);
}
#fp .ripple{
    background: rgba(69, 171, 255, 0.774);
}
.rippler:focus{
    box-shadow: none!important;
}
.btn-primary{
    height: 40px;
}
.message{
    font-weight: 500;
}
.message.error{
    color:red;
}
.message.success{
    color:green;
}
.message.info{
    color:#cdcd00;
}

@media screen and (max-width: 600px) {
    .submit-container{
        flex-direction: column;
    }
    .submit-container a{
        margin-bottom: 10px;
    }
}