{% extends 'base.html' %}

{% block cdns %}
<link rel="stylesheet" href="/static/dashboard/dashboard.css">
{% endblock cdns %}

{% block title %}Business Signup | #vocalForLocal{% endblock title %}

{% block dashActive %}active{% endblock dashActive %}

{% block body %}

<div id="dash-container" style="width:100%;">
    <section class="vfl-element {{theme}} dash-section" id="profile">
        <div class="flex-col fixed">
            <div class="mt-3 flex-col align-items-center">
                <img class="vfl-element {{theme}}" src="/media/{{request.user.display_pic}}" id="user-img"
                    alt="{{request.user.username}}">
                <span style="font-size:20px;margin-top:10px;margin-bottom:20px;">{{request.user.first_name}}
                    {{request.user.last_name}}</span>
            </div>
            <div id="table">
                <span>Username</span>
                <span class="value">{{request.user.username}}</span>
                <span>Account type</span>
                <span class="value">{{request.user.account_type | capfirst}}</span>
                <span>Email ID</span>
                <span class="value blur">{{request.user.email}}</span>
                <span>Address</span>
                <span class="value blur">{% if request.user.city != "none" %}{{request.user.city}},{% endif %}
                    {{request.user.state}}, {{request.user.country}}</span>
                <span>Phone number</span>
                <span class="value blur">{{request.user.phone_number}}</span>
            </div>
            <div class="ep-container" style="display:flex;justify-content:flex-end;">
                <a id="editProfile" class="vfl rippler rippler-{{theme}}"
                    href="/user/{{request.user.username}}{% if theme == 'dark' %}?isDark=True{% endif %}">Edit profile</a>
                {% comment %} <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Enable both
                    scrolling and backdrop</button> {% endcomment %}
            </div>
        </div>
    </section>
    <section id="mid">
        <div id="search-container">
            <input class="vfl-element {{theme}}" type="text" name="search" id="search" placeholder="Search for your requirements...">
            {% comment %} <form action="dashboard" method="post"></form> {% endcomment %}
            <form action="dashboard" method="post" id="distanceSelector">
                {% csrf_token %}
                <input type="hidden" name="theme" id="themeInput" value="{{theme}}"/>
                <select name="distance" class="form-select form-select-sm" aria-label=".form-select-sm example" onchange="distSelectorTrigger()">
                    {% if distance.isdigit == True %}
                        {% if distance != "1" and distance != "10" and distance != "100" %}
                            <option value="{{distance}}">{{distance}} km</option>
                        {% endif %}
                    {% endif %}
                    {% if distance == "1" %}
                        <option value="1" selected>1 km</option>
                    {% else %}
                        <option value="1" >1 km</option>
                    {% endif %}
                    {% if distance == "10" %}
                        <option value="10" selected>10 km</option>
                    {% else %}
                        <option value="10" >10 km</option>
                    {% endif %}
                    {% if distance == "100" %}
                        <option value="100" selected>100 km</option>
                    {% else %}
                        <option value="100" >100 km</option>
                    {% endif %}
                    {% if distance == "1000" %}
                        <option value="1000" selected>1000 km</option>
                    {% else %}
                        <option value="1000" >1000 km</option>
                    {% endif %}
                    {% if distance == "inf" %}
                        <option value="inf" selected>∞</option>
                    {% else %}
                        <option value="inf">∞</option>
                    {% endif %}
                </select>
            </form>
        </div>
        <div id="adder-container">
            {% if request.user.account_type == "business" %}
            <div class="vfl-element adder {{theme}}">
                <a id="addBusiness" class="vfl rippler rippler-{{theme}}"
                    href="{% url 'businessSignup' %}{% if theme == 'dark' %}?isDark=True{% endif %}"><i
                        class="far fa-plus" style="font-size:40px;"></i></a>
            </div>
            {% if nob == 1 %}
                <div id="b-display">
                    {% for business in businesses %}
                        <div class="b-display vfl-element {{theme}}"> 
                            {% if business.display_pic == "businesses/shop.png" %}
                            <div> <img class="vfl-element b-image {{theme}}" src="/media/{{business.display_pic}}" alt="{{business.name}}"> </div>
                            {% else %}
                            <div><a href="/business/{{business.name}}"><img class="b-image" src="/media/{{business.display_pic}}" alt="{{business.name}}"></a> </div>
                            {% endif %}
                            <div class="b-content" style="margin-left:10px;width:200px;">
                                <div class="b-heading"><a href="/business/{{business.name}}" class="{{theme}} vfl-element" style="text-decoration:none;">{{business.name}}</a></div>
                                <div class="b-desc">{{business.description}}</div>
                            </div>
                            </div>
                    {% endfor %}
                </div>
            {% elif nob > 1 %}
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div id="b-display" class="carousel-inner">
                            {% for business in businesses %}
                            <div class="carousel-item">
                                <div class="b-display vfl-element {{theme}}"> 
                                    {% if business.display_pic == "businesses/Anna's Groceries/dp.png" %}
                                    <div><a href="/business/{{business.name}}"><img class="vfl-element b-image {{theme}}" src="/media/{{business.display_pic}}" alt="{{business.name}}"></a> </div>
                                    {% else %}
                                    <div> <img class="b-image" src="/media/{{business.display_pic}}" alt="{{business.name}}"> </div>
                                    {% endif %}
                                    <div class="b-content" style="margin-left:10px;width:200px;">
                                        <div class="b-heading"><a href="/business/{{business.name}}" class="{{theme}} vfl-element" style="text-decoration:none;">{{business.name}}</a></div>
                                        <div class="b-desc">{{business.description}}</div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="vfl-element c-icon {{theme}} carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" style="right:-20px;">
                        <span class="vfl-element c-icon {{theme}} carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            {% endif %}
            {% endif %}
        </div>
        <hr class="vfl-element {{theme}} sep">
        <div class="search-results">
            {% for business in otherBusinesses %}
                <div class="card" style="width: 20rem;position:relative;">
                    <img src="/media/{{business.business.display_pic}}" class="o-dp" alt="{{business.business.name}}" style="position:absolute;">

                    <div id="business-{{business.business.id}}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in business.business.has.all %}
                                <div class="carousel-item card-img-top">
                                    <img src="/media/{{image.image}}" style="height:318px;" class="d-block w-100" alt="{{business.business.name}}">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#business-{{business.business.id}}" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#business-{{business.business.id}}" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    {% comment %} <img src="/static/server/empty.jpg" class="card-img-top" alt="..."> {% endcomment %}
                    <div class="card-body vfl-element {{theme}}">
                        <h5 class="card-title">{{business.business.name}}</h5>
                        <p class="card-text">{{business.business.description}}</p>
                        <button class="btn btn-outline-info">{{business.distance}} km</button>
                        {% comment %} <button class="btn btn-outline-info"><i class="fas fa-comments"></i></button> {% endcomment %}
                        <a href="/business/{{business.business.name}}" class="btn btn-outline-info"><i class="fas fa-external-link-alt"></i></a>
                        <a href="#" class="btn btn-outline-warning"><i class="fas fa-exclamation-triangle"></i></a>
                    </div>
                </div>
            {% endfor %}
            {% comment %} <div class="card" style="width: 20rem;">
                <img src="/static/server/empty.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="/static/server/empty.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="/static/server/empty.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div> {% endcomment %}
        </div>
    </section>

    {% comment %} <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Offcanvas right</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            ...
        </div>
    </div>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
        aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdroped with scrolling</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>Try scrolling the rest of the page to see this option in action.</p>
        </div>
    </div> {% endcomment %}

    {% comment %} <section class="vfl-element {{theme}} dash-section" id="chat">Three</section> {% endcomment %}
</div>

{% endblock body %}

{% block scripts %}
<script src="/static/dashboard/dashboard.js"></script>
{% endblock scripts %}