{% extends 'base.html' %}

{% block cdns %}
<link href="https://preview.keenthemes.com/craft/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
<!-- Browser -->
<link rel="stylesheet" type="text/css"
    href="https://unpkg.com/file-upload-with-preview@4.1.0/dist/file-upload-with-preview.min.css" />
<link rel="stylesheet" href="/static/signup/signup.css" />
<script src="https://preview.keenthemes.com/craft/assets/js/scripts.bundle.js"></script>
<link rel="stylesheet" href="/static/business_signup/business_signup.css">
{% endblock cdns %}

{% block title %}Business sign-up | #vocalForLocal{% endblock title%}

{% block navElements %} {% comment %}
Empty {% endcomment %} {% endblock navElements %}

{% block log %}
<!-- <a class="vfl rippler rippler-{{theme}} dark-form-handler"
  href="{% url 'login' %}{% if theme == 'dark' %}?isDark=True{% endif %}">Already a User?</a> -->
{% endblock log %}

{% block body %}

<div class="form-container">
    <form class="needs-validation" action="/business/{{cb.name}}" id="signup_form" method="POST" novalidate
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4" style="display: flex; justify-content: center">
                <!--begin::Image input-->
                <div class="image-input w-125px h-125px mb-5 mt-2" data-kt-image-input="true" style="
            background: url(/media/{{cb.display_pic}});
            width: fit-content;
            margin: auto;
          ">
                    <!--begin::Image preview wrapper-->
                    <div style="background: url(/media/{{cb.display_pic}});"
                        class="image-input-wrapper w-125px h-125px vfl-element {{theme}}">
                    </div>
                    <!--end::Image preview wrapper-->

                    <!--begin::Edit button-->
                    <label id="change-avatar"
                        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                        data-kt-image-input-action="change" data-bs-toggle="tooltip" data-bs-dismiss="click"
                        title="Change avatar">
                        <i class="fas fa-pen"></i>

                        <!--begin::Inputs-->
                        <input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
                        <input type="hidden" name="avatar_remove" />
                        <!--end::Inputs-->
                    </label>
                    <!--end::Edit button-->

                    <!--begin::Cancel button-->
                    <span id="cancel-avatar" class="btn btn-icon btn-active-color-primary w-25px h-25px bg-white shadow"
                        data-kt-image-input-action="cancel" data-bs-toggle="tooltip" data-bs-dismiss="click"
                        title="Cancel avatar">
                        <i class="fas fa-times"></i>
                    </span>
                    <!--end::Cancel button-->

                    <!--begin::Remove button-->
                    <span id="remove-avatar"
                        class="btn btn-icon  btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                        data-kt-image-input-action="remove" data-bs-toggle="tooltip" data-bs-dismiss="click"
                        title="Remove avatar">
                        <i class="fas fa-user-times"></i>
                    </span>
                    <!--end::Remove button-->
                </div>
                <!--end::Image input-->
            </div>
            <div class="col-md-8" id="name-div">
                <div class="row" id="first_name_div">
                    <div class="position-relative">
                        <label for="business_name" class="form-label {{theme}} dark-form-handler">Business Name</label>
                        <input value="{{cb.name}}" type="text" class="form-control {{theme}} dark-form-handler"
                            name="business_name" id="business_name" placeholder="Business Name" required />
                        {% comment %}
                        <div class="valid-tooltip">Looks good!</div>
                        {% endcomment %}
                    </div>
                </div>

            </div>
        </div>

        <div class="input-group ep mt-3" id="address-div">
            <span class="textarea-label input-group-text col-sm-2 {{theme}} dark-form-handler">Description</span>
            <textarea class="form-control {{theme}} dark-form-handler" aria-label="Textarea" id="business_description"
                name="business_description" placeholder="About your business" style="border-radius: 0.475rem"
                required>{{cb.description}}</textarea>
            <div class="invalid-feedback">Please enter something about your business</div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <select class="form-select {{theme}} dark-form-handler" id="country" name="country" required
                        aria-label="select">
                        <option value="{{cb.country}}">{{cb.country}}</option>
                    </select>
                    <div class="invalid-feedback">Choose your country</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <select class="form-select {{theme}} dark-form-handler" id="state" name="state" required
                        aria-label="select">
                        <option value="{{cb.state}}">{{cb.state}}</option>
                    </select>
                    <div class="invalid-feedback">Choose your state</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <select class="form-select {{theme}} dark-form-handler" id="city" name="city" required
                        aria-label="select">
                        <option value="{{cb.city}}">{{cb.city}}</option>
                    </select>
                    <div class="invalid-feedback">Choose your city</div>
                </div>
            </div>
        </div>

        <div id="email-section" class="input-group mb-3 ep ">
            <label for="email" class="col-sm-2 col-form-label {{theme}} dark-form-handler">Email</label>
            <input value="{{cb.email}}" type="text" class="form-control {{theme}} dark-form-handler" name="email"
                id="email" placeholder="xxx@xxx.xxx" aria-label="Recipient's username" aria-describedby="button-addon1">
            <div class="invalid-tooltip" id="email-tooltip">
                Please provide a valid email id and get it verified. It won't be shared with any third party
                applications and you won't recieve any promotional messages, so feel free to verify yourselves!
            </div>
            <button type="button" class="outline-btn" id="email_editor" onclick="edit_email()"><i
                    class="fas fa-pen"></i></button>
        </div>

        <div class="input-group ep" id="address-div">
            <span class="textarea-label input-group-text col-sm-2 {{theme}} dark-form-handler">Keywords</span>
            <textarea class="form-control {{theme}} dark-form-handler" aria-label="Textarea" id="keywords"
                name="keywords" placeholder="Enter comma(,) seperated keywords pertaining to your business"
                style="border-radius: 0.475rem" required>{%for keyword in cb.keywords%}{{keyword}},{%endfor%}</textarea>
            <div class="invalid-feedback">Some keywords that define your business (not more than 25) each not more than
                of 50
                characters</div>
        </div>

        <input type="hidden" name="latitude" id="latitude" />
        <input type="hidden" name="longitude" id="longitude" />
        <input type="hidden" name="theme" id="themeInput" value="{{theme}}" />



        <div class="custom-file-container mt-3 " data-upload-id="myUniqueUploadId">
            <label class="textarea-label input-group-text col-sm-2 {{theme}} dark-form-handler">Upload pictures of your
                products/business here :
                <a href="javascript:void(0)" class="custom-file-container__image-clear"
                    title="Clear Image">&times;</a></label>
            <label class="custom-file-container__custom-file">
                <input type="file" name="images" class="custom-file-container__custom-file__custom-file-input"
                    accept="*" multiple aria-label="Choose File" />
                <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                <span class="custom-file-container__custom-file__custom-file-control" id="imgs_selector"></span>
            </label>
            <div class="custom-file-container__image-preview" id="imgs_container"></div>
        </div>


        <div class="col-md-12" style="margin-top: 33px">
            <div class="form-check">
                <input class="form-check-input" style="box-shadow: none" type="checkbox" value="" id="agree" required />
                <label class="form-check-label {{theme}} dark-form-handler" for="agree" style="font-size: 16px">
                    You agree to the terms and conditions of <b>#vocalForLocal</b> and
                    will abide by its rules. Any kind of misbehaviour, threats or
                    unorderly actions can lead to permanent ban of your account.
                </label>
                <div class="invalid-feedback">You must agree before submitting.</div>
            </div>
        </div>

        <div class="row mb-15 mt-10" style="justify-content: flex-end">
            <div class="col-md-2" style="padding: 0">
                <button class="btn-secondary rippler rippler-{{theme}} dark-form-handler {{theme}} dark-form-handler"
                    type="submit">
                    Submit form
                </button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="grantLocation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="grantLocationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="grantLocationLabel">Permission Required</h5>
                {% comment %}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                {% endcomment %}
            </div>
            <div class="modal-body">
                <p>
                    As far as this website is concerned, we need access to your location
                    to accurately determine which stores are nearby your area and to
                    provide you with the best of our services.
                </p>
                <p>
                    We are not involved with any kind of third party applications and your
                    location will not be forwarded to any external sources.
                </p>
                <p>This is how you can grant us access to your location</p>
                <p>Method 1</p>
                <img src="/static/permission/permission.jpg" alt="Location Access" />
                <p>
                    Look at the top right of your browser, click on the location icon,
                    select Allow and click Done
                </p>
                <p>Method 2</p>
                <p>
                    Click on the i icon on the left side of website's name, toggle the
                    location checkbox and reload the website
                </p>
            </div>
            {% comment %}
            <div class="modal-footer">
                {% endcomment %} {% comment %}
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    I Understand
                </button>
                {% endcomment %} {% comment %}
            </div>
            {% endcomment %}
        </div>
    </div>
</div>

{% endblock body %}

{% block scripts %}
<script src="/static/business_signup/business_signup.js"></script>
<script src="https://unpkg.com/file-upload-with-preview@4.1.0/dist/file-upload-with-preview.min.js"></script>
<script>
    setter("{{csc_token}}", `{{csc_email}}`);
    var upload = new FileUploadWithPreview("myUniqueUploadId");
</script>
{% endblock scripts %}