{% extends 'base.html' %}

{% block cdns %}
<link rel="stylesheet" href="/static/index/index.css">
{% endblock cdns %}

{% block title %}#vocalForLocal{% endblock title %}

{% block homActive %}active{% endblock homActive %}

{% block body %}

<div id="intro" class="intro {{theme}}">
    <div>
        <span class="logo-text">#vocalForLocal</span>
        <p>We vision blooming a self sustaining community</p>
    </div>
</div>

{% endblock body %}

{% block scripts %}
<script src="/static/index/index.js"></script>
{% endblock scripts %}