{% extends 'base.html' %}

{% block cdns %}
<link rel="stylesheet" href="/static/signup/signup.css">
<link rel="stylesheet" href="/static/login/login.css">
{% endblock cdns %}

{% block title %}Login | #vocalForLocal{% endblock title %}


{% block navElements %}
{% comment %} Empty {% endcomment %}
{% endblock navElements %}

{% block log %}
<a class="rippler rippler-{{theme}} dark-form-handler" href="{% url 'signUp' %}{% if theme == 'dark' %}?isDark=True{% endif %}">Sign Up</a>
{% endblock log %}

{% block body %}
<div id="container" style="display:flex;justify-content:center;align-items:center;width:100%;padding-top:50px;">
    <form class="flex g-3 needs-validation" style="width:35%;" method="post" novalidate>
        {% csrf_token %}
        <div class="position-relative" id="username-div">
            <label for="username" class="form-label {{theme}} dark-form-handler">Username</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                <input type="text" class="form-control {{theme}} dark-form-handler" name="username" id="username"
                    aria-describedby="username" required>
                <div class="invalid-tooltip" id="username-tooltip">
                    Please provide a valid username.
                </div>
            </div>
        </div>
        <div class="mb-3 " style="margin-top:10px;width:100%;">
            <label for="pass-1" class="col-sm-2 col-form-label {{theme}} dark-form-handler">Password</label>
            <div class="col-sm-10" style="position:relative;width:100%;">
                <input type="password" class="form-control {{theme}} dark-form-handler" name="password" id="pass-1">
                <div class="invalid-tooltip">
                    Please enter a valid password.
                </div>
            </div>
        </div>
        <div class="mb-15 mt-10" style="display:flex;justify-content:space-between;align-items:center;margin-top:25px;">
            <a class="rippler rippler-{{theme}} dark-form-handler {{theme}} dark-form-handler" id="fp" style="padding:0;padding-top:3px;width:140px;margin:0;height:30px;color:blue;font-weight:500;" href="#">Forgot password</a>
            <button class="btn-primary rippler rippler-{{theme}} dark-form-handler {{theme}} dark-form-handler" type="submit" style="margin:0;">Login</button>
        </div>
    </form>
</div>
{% endblock body %}

{% block scripts %}
<script src="/static/login/login.js"></script>
{% endblock scripts %}