{% extends 'base.html' %}

{% block cdns %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="/static/viewBusiness/viewBusiness.css">
{% endblock cdns %}

{% block title %}{% endblock title %}

{% block body %}

<div class="b-header">
    <img class="b-logo" src="/media/{{business.display_pic}}" alt="{{business.name}}">
    <div class="vfl-element {{theme}}" style="font-size: 40px;font-weight: 600;">
        {{business.name}}
    </div>
    <img class="b-logo converge" src="/media/{{business.display_pic}}" alt="{{business.name}}">
</div>
<div class="vfl-element {{theme}}" style="display:flex;justify-content:center;margin-top:20px;">
    <p class="b-desc">{{business.description}}</p>
</div>

<div id="business" class="carousel slide" data-bs-ride="carousel" style="display:flex;justify-content:center;">
    <div class="carousel-inner" style="display:flex;justify-content:center;width:50%;">
        {% for image in images %}
            <div class="carousel-item" style="margin-right:0;">
                <img src="/media/{{image.image}}" style="height:318px;" class="d-block w-100" alt="{{business.name}}">
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#business" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#business" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div id="map"></div>

<div class="b-header b-feedback">
    <form method="post" action="feedback">
        {% csrf_token %}
        <h1>Visited this store? Leave a feedback.</h1>
        <div style="display:grid;grid-template-columns:2fr 8fr;margin-top: 20px;">
            <input type="hidden" name="business_id" value="{{business.id}}">
            <select class="form-select no-shadow" name='rating' multiple aria-label="multiple select example">
                <option value="1" {% if isExist == True and userFbObj.rating == 1 %}selected{% endif %}>Disappointed</option>
                <option value="2" {% if isExist == True and userFbObj.rating == 2 %}selected{% endif %}>Unhappy</option>
                {% if isExist == True and userFbObj.rating == 3 %}
                    <option value="3" selected>Works</option>
                {% elif isExist == False %}
                    <option value="3" selected>Works</option>
                {% else %}
                    <option value="3">Works</option>
                {% endif %}
                <option value="4" {% if isExist == True and userFbObj.rating == 4 %}selected{% endif %}>Satisfied</option>
                <option value="5" {% if isExist == True and userFbObj.rating == 5 %}selected{% endif %}>Delighted</option>
            </select>
            <input type="hidden" name="theme" id="themeInput" value="{{theme}}"/>
            <div style="margin-left:40px;">
                <label for="f_description" class="form-label">Description: </label>
                <textarea name="f_description" class="form-control no-shadow" id="f_description" rows="3">{{userFbObj.description}}</textarea>
            </div>
        </div>
        <div style="display:flex;width:100%;flex-direction:row;justify-content:flex-end;margin-top:20px;">
            <input type="submit" value="Post feedback" class="outline-btn" />
        </div>
    </form>
</div>

<div class="b-header b-feedback" style="margin-top:25px;">
    <h1>Feedback from users</h1>
    <div style="border: 2px solid black;padding: 40px;margin-top: 25px;width:70%;">
        {% for feedback in feedbacks %}
            <hr>
            <div style="display: grid;grid-template-columns: 5fr 1fr;width:100%;margin-bottom:20px;">
                <div style="position:relative;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: grid;grid-template-columns: 9fr 1fr;"><b>{{feedback.user.first_name}} {{feedback.user.last_name}}</b>
                {% if feedback.edited %}<span><small style="background-color:#ffe86f;position: absolute;bottom: 0;right: 10px;">(edited)</small></span>{% endif %}</div>
                <div style="display: flex;flex-direction: row;justify-content: flex-end;">
                    {% if feedback.rating > 0%}
                        <i class="fas fa-star"></i>
                    {% endif %}
                    {% if feedback.rating > 1%}
                        <i class="fas fa-star"></i>
                    {% endif %}
                    {% if feedback.rating > 2%}
                        <i class="fas fa-star"></i>
                    {% endif %}
                    {% if feedback.rating > 3%}
                        <i class="fas fa-star"></i>
                    {% endif %}
                    {% if feedback.rating > 4%}
                        <i class="fas fa-star"></i>
                    {% endif %}
                </div>
            </div>
            <div style="width:100%; margin-top:15px;">{{feedback.description}}</div>
            <hr>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="grantLocation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="grantLocationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="grantLocationLabel">Permission Required</h5>
                {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button> {% endcomment %}
            </div>
            <div class="modal-body">
                <p>As far as this website is concerned, we need access to your location to accurately determine which
                    stores are nearby your area and to provide you with the best of our services.</p>
                <p>We are not involved with any kind of third party applications and your location will not be forwarded
                    to any external sources.</p>
                <p>This is how you can grant us access to your location</p>
                <p>Method 1</p>
                <img src="/static/permission/permission.jpg" alt="Location Access">
                <p>Look at the top right of your browser, click on the location icon, select Allow and click Done</p>
                <p>Method 2</p>
                <p>Click on the i icon on the left side of website's name, toggle the location checkbox and reload the
                    website</p>
            </div>
            {% comment %} <div class="modal-footer"> {% endcomment %}
                {% comment %} <button type="button" class="btn btn-primary" data-bs-dismiss="modal">I
                    Understand</button> {% endcomment %}
                {% comment %} </div> {% endcomment %}
        </div>
    </div>
</div>

{% endblock body %}

{% block scripts %}
<script src="/static/viewBusiness/viewBusiness.js"></script>
<script>
    setter("{{token}}", "{{theme}}", "{{business.longitude}}", "{{business.latitude}}", "{{request.user.longitude}}", "{{request.user.latitude}}");
</script>
{% endblock scripts %}