.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: calc(100vh - 70px); */
}
.intro div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro div .logo-text{
    font-size: 4.5em;
}
.intro div p{
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 520px) {
    .intro div .logo-text{
        font-size: 3.5em;
    }
    .intro div p{
        font-size: 1.25em;
        font-weight: 400;
    }
}

/* button {
  position: relative;
  display: block;
  width: 13em;
  height: 3em;
  margin: 2em;
  border: none;
  outline: none;
  background: #dfdfdf;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 2px;
} */